{
	"PREFIX": "#",
	"TOKEN": "TOKEN_HERE",
	"OWNER_ID": "YOUR_CLIENT_ID",
	"CLIENT_ID": "PUT_BOT_CLIENT_ID",
	"GUILD_ID": "YOUR_GUILD_ID",
	"NODES": [
		{ "host": "localhost", "port": 8000, "password": "changeyourpassword" }
	]
}